body, html {
	display: inline;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: white;
}

.navbar {
	float: left;
	margin: 0 auto;
	padding: 0;
	width: 20%;
	height: 100%;
	background-color: #FFB8EA;
}

.content {
	background-image: url("../img/bg6.jpg");
	background-size: cover;
	opacity: 0.7; /*for the next pages and put h1 and p to black */
	height: 100%;
	width: 79.95%;
	margin: 0 auto;
	padding: 0;
	float: left;
	overflow: auto;
}

h1, h2, h3, .navText, hr {
	color: #626262;
	font-family: 'Roboto', sans-serif;
}

h3 {
	font-weight: lighter;
	font-size: 24px;
	margin-bottom: 1px;
	padding-top: 4px;
}

h1 {
	font-weight: bolder;
	font-size: 70px;
	margin-bottom: 10px;
	color: black;
}

h2 {
	font-weight: lighter;
	font-size: 30px;
	margin-top: 1px;
}

.navText {
	margin-top: 1px;
	font-size: 16px;
	padding-bottom: 12px;
}

hr {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 0px;
	margin-bottom: 25px;
	border: 0.5px solid;
}

button{
	background-color: transparent;
	border: 1.5px #626262 solid;
	height: 40px;
	width: 170px;
	font-size: 19px;
	font-family: 'Roboto', sans-serif;
	color: #626262;
	margin-top: 7px;
}

h2, button {
	margin-left: 30px;
}

.suitcase {
	height: 130px;
	margin-left: 85px;
	margin-top: 35px;
	margin-bottom: 70px;
}

 .about, .works, .contact {
 	float: left;
 	width: 60px;
 	margin-right: 15px;
 	margin-left: 25px;
 	margin-top: 0px;
	margin-bottom: 0px;
 }

.about {
	height: 58px;
	margin-top: 25px;
}

.contact {
	height: 50px;
	margin-top: 10px;
}

.works {
	height: 60px;

}

a {
	text-decoration: none;
}

h3:hover {
	color: white;
}

button:hover {
	color: #FFB8EA;
	border-color: #FFB8EA;
}

h1 {
	margin-left: 60px;
}

.text {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: black;
	font-weight: bold;
	margin-top: 60px;
	margin-left: 60px;
	margin-bottom: 75px;
	width: 80%;
}

#fade {
		display: none;
}

.text2 {
	float: left;
	font-weight: bolder;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	width: 900px;
	margin-left: 60px;
}

#miri {
	float: left;
	height: 200px;
	border-radius: 150px;
	margin-left: 60px;
	margin-top: 20px;
	display: none;
}

.homeIcon {
	height: 50px;
	margin-left: 60px;
	display: none;
}

.link {
	color: #ff59cd;
	text-decoration: underline;
}

ul {
	margin-bottom: 50px;
	text-decoration: underline;
	font-family: 'Roboto', sans-serif;
	font-size: 22px;
	color: black;
	margin-left: 60px;
	display: none;
}

li a{
	color: #ff3fc5;
	line-height: 2em;
}

.text, h1 {
	display: none;
}